extends layout
block content
  div.hero-unit
    h1  我的博客
    p   这个是基于Nodejs作为后台，jade作为模板来，使用了Express作为框架
      br
      br
      //修改以下部分
      if(!user())
        br
        br
        a.btn.btn-primary.btn-large(href="/login")  登录
        a.btn.btn-large(href="/reg")    立即注册
      else
        textarea#textarea.uneditable-input
        button#postBlog.btn.btn-large 提交微博
        button#clearBlog.btn.btn-large 清空
      div#submitError.alert.alert-error.displayNONE.myalert
      div#submitSuccess.alert.alert-success.displayNONE

  div.row.content#content
  div#scrollToFoot 滚动到底部然后加载内容
